KERNEL_IP=127.0.0.1
KERNEL_PUERTO=7000
CONSOLA_IP=127.0.0.1
CONSOLA_PUERTO=8000
CPU_DISPATCH_IP=127.0.0.1
CPU_DISPATCH_PUERTO=9000
CPU_INTERRUPT_IP=127.0.0.1
CPU_INTERRUPT_PUERTO=9001
MEMORIA_CPU_IP=127.0.0.1
MEMORIA_CPU_PUERTO=8500
MEMORIA_CPU_TLB_IP=127.0.0.1
MEMORIA_CPU_TLB_PUERTO=8501
MEMORIA_KERNEL_IP=127.0.0.1
MEMORIA_KERNEL_PUERTO=8502