KERNEL_IP=0.0.0.0
KERNEL_PUERTO=6000
CPU_DISPATCH_IP=0.0.0.0
CPU_DISPATCH_PUERTO=7000
CPU_INTERRUPT_IP=0.0.0.0
CPU_INTERRUPT_PUERTO=7001
MEMORIA_CPU_IP=0.0.0.0
MEMORIA_CPU_PUERTO=8000
MEMORIA_CPU_TLB_IP=0.0.0.0
MEMORIA_CPU_TLB_PUERTO=8001
MEMORIA_KERNEL_IP=0.0.0.0
MEMORIA_KERNEL_PUERTO=8002
MEMORIA_KERNEL_PAGE_FAULT_IP=0.0.0.0
MEMORIA_KERNEL_PAGE_FAULT_PUERTO=8003